body
    +light
    color: $text-color
    
img
    max-width: 100%

.sticky-header
    position: fixed
    width: 100%
    top:-70px
    z-index: 999

.section
    padding: 100px 0px
    &-title
        font-size: 30px
        text-align: center
        text-transform: uppercase
        +bold
    &__title
        margin-bottom: 100px

.button-o
    border: 2px solid $primary-teal
    text-transform: uppercase
    text-decoration: none
    padding: 16px 22px
    font-size: 12px
    color: $primary-black
    background: none
    +bold
    &:hover 
        cursor: pointer
        background-color: #099c84
        color: #ffffff
        transition-duration: 0.2s
.button-slide
    color: #fff
    border-color: #fff
    &:hover
        background-color: $primary-teal
        border-color: $primary-teal
        transition-duration: 0.2s
        transition-delay: 0s
.button
    border: none
    text-transform: uppercase
    text-decoration: none
    padding: 25px 45px
    background-color: $primary
    color: #fff
    +bold
    &:hover
        cursor: pointer
        background-color: #099c84
    &-fitting
        color: $primary
        background-color: #fff
        padding: 10px
    &-add 
        color: #fff
        background-color: lighten($primary,10%)
        padding: 10px
    &-like 
        background-color: $primary
        width: 30px
        height: 30px
        padding: 5px
        
.bg-secondary
    background-color: $bg-secondary
.bg-tertiary
    background-color: $bg-tertiary
.input
    height: 80px 
    padding-left: 30px
    border: 1px solid #dddddd

input[type="checkbox"]
    display: none
    &:checked + label:before        
        background-color: $primary
.checkbox
    &-label
        display: flex
        align-items: center
        margin-right: 42px
        &:hover
            cursor: pointer
        &:before
            content: ''
            width: 30px
            height: 30px
            border: 1px solid #dddddd
            margin-right: 20px          

@media (max-width:800px)
    .header
        position: fixed
        width: 100%
        top:0px
        z-index: 2

@media (max-width:576px)
    .button
        font-size: 10px
        &-o
            font-size: 10px
    .section
        padding: 60px 0px
        &-title 
            font-size: 24px