.hero
    background: #f1f1f1 url('../img/hero/hero-bg.jpg') no-repeat
    background-size: cover
    background-position: top center
    border: 1px solid red
    padding-top: 60px
    padding-bottom: 70px
    margin-top: 60px
    
    &__title
        font-size: 30px
        margin-bottom: 40px
    &__subtitle
        display: block
        font-size: 30px
        margin-bottom: 67px
        +bold
    
@media (max-width:991px)
    .hero
        background-size: cover
        background-position: top center
        